{{#list-filter filter=(action 'filterByCity') as |rentals|}}
  <ul class="results">
      {{#each rentals as |rentalUnit|}}
        <li>
          {{rental-listing rental=rentalUnit}}
        </li>
      {{/each}}
  </ul>
{{/list-filter}}

{{#each someArr key=index as |item index|}}
  <div>{{item}} - {{index}}</div>
{{/each}}

Your total is {{format-currency 350 sign="£"}}

{{outlet}}
